:root{
 --gradient-orange: (207.8deg, #201E1C 16.69%, #F7931A 100%);   
--bitcoin-orange: #f7931a;
--soft-orange: #FFE9D4;
--secondary-blue: #1a9af7;
--soft-blue: #e7f5ff;
--warm-black: #201e1c;
--black:#282623;
--grey:#bababa;
--off-white:#faf8f7;
--just-white:#fff;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-size: 62.5%;
    font-family: 'DM Sans';
}

h1{
    font-size: 3rem;
    font-weight: bold;
    color: var(--just-white);
}

/*Header*/
.bit-price{
    background-color: var(--off-white);
}
.main-banner-text-p{
    font-size: 2.5rem;
    font-weight: 100;
    color: var(--soft-orange);
}
header{
    background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
.main-section{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container{
    align-self: center;
}
.img-container > img{
   
    width: 200px;
    margin-top: 3rem;
    margin-right: auto;
    margin-left: auto;
   
}

.main-banner-text{
    align-self: center;
    max-width: 900px;
}
.main-banner-text >  h1, .main-banner-text-p{
    margin:  4rem 4rem;
   
    text-align: center;
}

.main-banner-text >  p{
    margin-bottom: 3rem;
}
.main-button{
    position: relative;
    top:2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;



}
.main-button > button{
    font-size: 1.75rem;
    background-color: var(--just-white);
    padding: 1rem 2rem;
    box-shadow:  0px 4px 8px rgba(89, 73, 30, 0.16);
    border-radius: 4px;
    border: none;
    text-transform: capitalize;
    font-weight: bold;
}
.main-button > button:focus{
    outline: none;
}
.main-button > button:hover{
    cursor: pointer;
}
.button-icon-black{
    background-image: url("../assets/arrow-icon.svg");
    background-repeat: no-repeat;

    display: inline-block;
    height: 2rem;
    width: 2rem;
    align-self: center;
}

/*End Header*/

.main-sheet-text {
    align-self: center;
    max-width: 900px;
    
}
.section-title-h2{
    font-size: 2.4rem;
    margin:0 1rem;
}
.section-title-p{
    font-size: 1.6rem;
    color: var(--grey);
}
.section-container-text {
    margin:  4rem 4rem;
}

.section-title-h2, .section-title-p{
    text-align: center;
    padding: 2rem 0;
}

.btc-img-container > img{
    margin-top:6rem;
    width: 250px;
    align-self: center;
}
.exchanges-title{
    color: var(--bitcoin-orange);
    font-size: 2rem;
    margin: 1rem 1.5rem;
}
.exchanges-container{
    display:grid;
    border: 1px solid var(--off-white);
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 25% 25% 25% ;
    background-color: var(--just-white);
    border-radius: 15px;
    max-width: 500px;
    margin-bottom: 5rem;
}
.exchanges-column {
    margin: 0.5rem 3rem;
    color: var(--grey);
    list-style: none;
    font-size: 3.5rem;
}

.exchanges-column > li{
    padding:1rem 0;
}
/*Atributes section*/

.attributes{
    background-color: var(--warm-black);

}
.atribute-container-text{
    margin: 0 0.5rem;
}
.white{
    color:white;
}
.main-atribut-container-cart{
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.attribute-container-item{
    background-color: #282623;
    margin:0.75rem 4rem;
    padding:1rem 2rem;
    max-width: 450px;
}
@media screen and (min-width: 650px){
    .main-atribut-container-cart{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1100px;
    }
    .attribute-container-item{
        margin:1rem 1rem;
        padding:1rem 2rem;

    }
}
.attribute-container-icon{
    margin:0.25rem ;
}

.atribute-container-title{
    font-size: 2rem;
    margin:0.5rem 0.5rem;
}
.atribute-container-text{
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size:1.5rem;
    color: var(--grey);
}

/*Image container*/
.main-plan-container{
    padding: 5rem 0;
}
.main-pricing-container > picture > h2{
    position: absolute;
    text-align: center;
    margin-top:5rem;
    width: 100%;
}
.bitcoin-img{
    width: 100%;
    height: auto;
}
.price-container{
    position: relative;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    background: var(--just-white);
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 0.5rem 1.25rem;
}

.price-recommended-tag{
    background-color: orange;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    color: var(--off-white);
    border-radius: 8px;
    position: absolute;
    bottom: 21rem;
    left: calc(50% - 50px);
}
.price-container-info{
    margin-top:2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.price-container-info > *{
    text-align: center;
    margin-top: 1rem;
}
.price-container-currency-amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1.25rem 0;
}
.price-currency{
    font-size: 1.2rem;
}
.price-info-label{
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.price-info-amount{
    font-size: 5.2rem;
    line-height: 6.25rem;
    letter-spacing:-0.08em;
    font-weight: bold;
    font-family: Inter;
}

.price-info-p{
    font-size: 1.2rem;
    color:#757575;
}
.price-info-btn{
    margin: 1.25rem 0;
    background: var(--off-white);

    border: 2px solid var(--bitcoin-orange);
    box-sizing: border-box;
    border-radius: 4px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 0.75rem 0;
    vertical-align: baseline;
}
.arrow-orange-icon{
    background-image: url("/assets/arrow-right-orange.svg");
    height: 2.4rem;
    width: 2.4rem;
    background-repeat: no-repeat;
    display: inline-block;
    background-size: cover;
}
@media screen and (min-width: 1100px){
    .main-pricing-container > picture > h2{
        position: absolute;
        text-align: center;
        margin:25rem 0;
        width: 100%;
        font-size: 6rem;
    }
}
/*Footer*/
footer{
    background-color: var(--bitcoin-orange);
}
.footer-main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;

}
.footer-main-container > *{
    margin: 0 4rem;
}
.footer-social-media{
    display: flex;
    flex-direction: column;
    

}

.footer-social-media>li{
    margin:1rem 0;
    list-style: none;
    font-size: 1.25rem;
    color: var(--just-white);
}
.footer-logo{
    width: 100px;
}
@media screen and (min-width: 650px){
    .footer-social-media>li {
        font-size: 1.75rem;
    }
}